<button mat-raised-button color="primary" (click)="goDesk()">
    <mat-icon>west</mat-icon>
  </button>
  
  <div class="box">
    <h1>Add New Desk</h1>
    <mat-form-field class="add">
      <mat-label>New Desk</mat-label>
      <input
        matInput
        placeholder="Device"
        [(ngModel)]="newDesk"
      /> </mat-form-field
    ><br />
    <button
      id="butt"
      type="submit"
      mat-raised-button
      color="primary"
      (click)="submitDevice()"
    >
      Submit
    </button>
  </div>
  