table{
    /* border: 1px ridge black; */
    position: absolute;
    left: 130px;
    top: 100px;
    font-size: 16px;
    font-family: cursive;
    /* padding: 10px; */
}
/* th{
    border: 1px ridge black;

} */
th,td{
    border: 1px groove grey;
}

#color{
    background-color: white;
}