/* .example-spacer {
    flex: 1 1 auto;
  }
  .logo {
    width: 100px;
    height: 180px;
    position: absolute;
    left: 60px;
    top: -52px;
     box-shadow: #f2f5f7;
  }
  .admin,
  .edit {
  
    display: flex;
    align-content: right;
    padding-right: 5px;
    position: absolute;
    left: 1150px
  }
  input.button {
    border: none;
    border-radius: 25%;
    margin: 5px;
    padding: 10px 20px;
    background-color: #04586b;
    color:white;
  }
  input:hover {
    color:green;
    background-color: rgb(250, 250, 250);
  }
  
  button:hover{
    background-color: skyblue;
  } */
.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  background-color: #3f69d3;
  color: #fff;
  padding: 15px;
  text-align: center;
}

.pozpro {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  font-size: 36px;
}

.footer {
  background-color: #3f69d3;
  color: #fff;
  text-align: center;
  display: flex;
  padding-left: 7px;
  padding-top: 5px;
}

.copyright {
  margin: 0 0 7px;
}

.content {
  display: flex;
  flex: 1;
}

.button {
  position: absolute;
  left: 860px;
  top: 130px;
}

.list {
  position: absolute;
  left: 750px;
  top: 210px;
  display: flex;
  gap: 10px;
  /* justify-content: space-between; */
}

#butt {
  position: absolute;
  left: 120px;
  top: 430px;
}

mat-form-field {
  width: 300px;
}

#data {
  position: absolute;
  left: 760px;
  top: 130px;
}
#new {
  width: 40px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: -100px;
  /* left: 1000px; */
  right: 8px;
}

#new:hover::after {
  content: "Add";
  position: absolute;
  top: 130%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(43, 91, 223, 0.7);
  color: rgb(255, 255, 255);
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 11px;
  white-space: nowrap;
  transition: all 0.4ms ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 999;
}

.total {
  position: absolute;
  top: 150px;
  left: 100px;
  max-height: 600px;
  overflow: auto;
  background-color: white;
  box-shadow: 10px 10px 5px grey;
  font-size: 15px;
}

table,
th,
td {
  border: 1px solid;
}

.pdf {
  margin-top: 100px;
  margin-left: 430px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: none;
  background-color: #3f51b5;
  color: white;
  cursor: pointer;
}

.pdf i {
  font-size: 24px;
}

.pdf:hover {
  background-color: #3cd488;
}

.pdf:active {
  background-color: #283593;
}

@media (max-width: 480px) {
  .content {
    flex-direction: column;
  }
}