.box {
  box-shadow: 2px 2px 7px 0 rgba(0, 0, 0, 0.2);
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* gap: 1rem; */
  justify-content: center;
  align-items: center;
  margin-left: 400px;
  margin-top: 150px;
  background-color: white;
}

h1 {
  color: rgb(77, 75, 221, 1);
  position: absolute;
  top: 240px;
}
