<!-- <tr *ngIf="i === editingIndex">
    <td colspan="12">
      <form #editForm="ngForm" (ngSubmit)="saveChanges(editForm.value)">
        <div class="form-group">
          <input type="text" class="form-control" name="Emp_name" [(ngModel)]="deskData[i].Emp_name" required>
           Other input fields for other properties -->
        <!-- </div>
        <button type="submit" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-secondary" (click)="cancelEdit()">Cancel</button>
      </form>
    </td>
  </tr> --> 