<!-- <mat-form-field>
  <mat-label>Select Employee</mat-label>
  <mat-select [(ngModel)]="selectedValue">
    <mat-option *ngFor="let item of data" [value]="item">
      {{ item.Emp_Name }}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field>
  <mat-label>Select Device</mat-label>
  <mat-select [(ngModel)]="selectedDevice">
    <mat-option *ngFor="let device of uniqueDevices" [value]="device">
      {{ device }}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field *ngIf="selectedDevice">
  <mat-label>Device List</mat-label>
  <mat-select [(ngModel)]="selectedMonitor">
    <ng-container *ngFor="let monitor of devicesWithMonitors">
      <mat-option
        *ngIf="monitor.Devices === selectedDevice"
        [value]="monitor.Monitor_Name"
      >
        {{ monitor.Monitor_Name }}
      </mat-option>
    </ng-container>
  </mat-select>
</mat-form-field>

<mat-list>
  <mat-list-item>{{ selectedValue?.Emp_Name }}</mat-list-item>
  <mat-list-item>{{ selectedMonitor }}</mat-list-item>
  <mat-list-item>{{ selectedDeskValue?.desk_name }}</mat-list-item>
</mat-list>

<mat-form-field>
  <mat-label>Select Value</mat-label>
  <mat-select [(ngModel)]="selectedDeskValue">
    <mat-option *ngFor="let value of deskValues" [value]="value">
      {{ value.desk_name }}
    </mat-option>
  </mat-select>
</mat-form-field> -->

<!-- <div class="device">
  <mat-form-field>
    <mat-label>Select Employee</mat-label>
    <mat-select [(ngModel)]="selectedValue">
      <mat-option *ngFor="let item of data" [value]="item">
        {{ item.Emp_Name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Select Device</mat-label>
    <mat-select [(ngModel)]="selectedDevice">
      <mat-option *ngFor="let device of uniqueDevices" [value]="device">
        {{ device }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field *ngIf="selectedDevice">
    <mat-label>Device List</mat-label>
    <mat-select [(ngModel)]="selectedList">
      <ng-container *ngFor="let list of devicesWithList">
        <mat-option
          *ngIf="list.Devices === selectedDevice"
          [value]="list.Monitor_Name"
        >
          {{ list.Monitor_Name }}
        </mat-option>
      </ng-container>
    </mat-select>
  </mat-form-field>
</div>

<div class="selected-items">
    <h4>Selected Items:</h4>
    <ul>
      <li *ngFor="let item of selectedItems">{{ item }}</li>
    </ul>
  </div>

<div class="list">
  <mat-list>
    <mat-list-item>{{ selectedValue?.Emp_Name }}</mat-list-item>
    <mat-list-item *ngFor="let item of selectedItems">{{ item }}</mat-list-item>
    <mat-list-item>{{ selectedDeskValue?.desk_name }}</mat-list-item>
  </mat-list>
</div>
<div class="desk">
  <mat-form-field>
    <mat-label>Select Desk</mat-label>
    <mat-select [(ngModel)]="selectedDeskValue">
      <mat-option *ngFor="let value of deskValues" [value]="value">
        {{ value.desk_name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<button class="button" mat-raised-button color="primary" (click)="onSave()">Save</button> -->

<!-- 
<div class="device">
    <mat-form-field>
      <mat-label>Select Employee</mat-label>
      <mat-select [(ngModel)]="selectedValue">
        <mat-option *ngFor="let item of data" [value]="item">
          {{ item.Emp_Name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  
    <mat-form-field>
      <mat-label>Select Device</mat-label>
      <mat-select [(ngModel)]="selectedDevice" (ngModelChange)="onDeviceSelect()">
        <mat-option *ngFor="let device of uniqueDevices" [value]="device">
          {{ device }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  
    <mat-form-field *ngIf="selectedDevice">
      <mat-label>Device List</mat-label>
      <mat-select [(ngModel)]="selectedList">
        <ng-container *ngFor="let list of devicesWithList">
          <mat-option
            *ngIf="list.Devices === selectedDevice"
            [value]="list.Monitor_Name"
          >
            {{ list.Monitor_Name }}
          </mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>
  </div>
  
  <div class="list">
    <mat-list>
      <mat-list-item>{{ selectedValue?.Emp_Name }}</mat-list-item>
      <mat-list-item *ngFor="let item of selectedItems">{{ item }}</mat-list-item>
      <mat-list-item>{{ selectedDeskValue?.desk_name }}</mat-list-item>
    </mat-list>
  </div>
  <div class="desk">
    <mat-form-field>
      <mat-label>Select Desk</mat-label>
      <mat-select [(ngModel)]="selectedDeskValue">
        <mat-option *ngFor="let value of deskValues" [value]="value">
          {{ value.desk_name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  
  <button class="button" mat-raised-button color="primary" (click)="onSave()">Save</button>
   -->
<button mat-button (click)="goBack()">
  <mat-icon>west</mat-icon>
</button>

<div class="device">
  <mat-form-field>
    <mat-label>Select Employee</mat-label>
    <mat-select
      [(ngModel)]="selectedValue"
      (ngModelChange)="onEmployeeSelect()"
    >
      <mat-option *ngFor="let item of data" [value]="item">
        {{ item.Emp_Name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Select Device</mat-label>
    <mat-select [(ngModel)]="selectedDevice" (ngModelChange)="onDeviceSelect()">
      <mat-option *ngFor="let device of uniqueDevices" [value]="device">
        {{ device }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field *ngIf="selectedDevice">
    <mat-label>Device List</mat-label>
    <mat-select [(ngModel)]="selectedList">
      <ng-container *ngFor="let list of devicesWithList">
        <mat-option
          *ngIf="
            list.Devices === selectedDevice &&
            !selectedItems.includes(list.Monitor_Name)
          "
          [value]="list.Monitor_Name"
        >
          {{ list.Monitor_Name }}
        </mat-option>
      </ng-container>
    </mat-select>
  </mat-form-field>
</div>

<div class="list">
  <mat-list>
    <mat-list-item>{{ selectedValue?.Emp_Name }}</mat-list-item>
    <mat-list-item *ngFor="let item of selectedItems">{{ item }}</mat-list-item>
    <mat-list-item>{{ selectedDeskValue?.desk_name }}</mat-list-item>
  </mat-list>
</div>
<div class="desk">
  <mat-form-field>
    <mat-label>Select Desk</mat-label>
    <mat-select [(ngModel)]="selectedDeskValue">
      <mat-option *ngFor="let value of deskValues" [value]="value">
        {{ value.desk_name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<!-- <button class="button" mat-raised-button color="primary" (click)="onSave()">Save</button> -->

<button
  class="button"
  mat-raised-button
  color="primary"
  (click)="storeInArray()"
>
  Save
</button>
<button
  class="button1"
  mat-raised-button
  color="primary"
  (click)="sendToDatabase()"
>
  Submit
</button>
